<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8" />
  <title>Edit Ticket</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</head>
<body>
<!--<div class="container">-->
<!--  <h1>Edit Ticket</h1>-->
<!--  <br/>-->
<!--  <form action="#" th:action="@{/save}" th:object="${ticket}"-->
<!--        method="post">-->

<!--    <table class="table table-striped table-dark table-bordered">-->
<!--      <tr>-->
<!--        <td>Ticket ID:</td>-->
<!--        <td>-->
<!--          <input type="text" th:field="*{id}" readonly="readonly" />-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Ticket issue:</td>-->
<!--        <td>-->
<!--          <input type="text" th:field="*{issue}" />-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>status:</td>-->
<!--        <input type="checkbox" id="status1" th:field="*{status}" value="completed" name="completed" class="form-control"/>-->
<!--        <label for="status1">Completed</label>-->
<!--        <input type="checkbox" id="status2" th:field="*{status}" value="ongoing" name="ongoing" class="form-control" />-->
<!--        <label for="status2">OnGoing</label>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td colspan="2"><button type="submit">Save</button> </td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </form>-->
<!--</div>-->



<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class="text-center"> Create New Ticket</h1>
      <div class="card-body">
        <form th:action="@{/save}" th:object = "${ticket}" method="POST">
          <div class="form-group">
            <label>Ticket ID:</label>
            <input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
          </div>
          <div class="form-group">
            <label> Issue</label>
            <input class="form-control" type="text" name="issue" th:field="*{issue}" placeholder="Enter ticket issue"/>
          </div>
          <div class="form-group">
            <label> Status</label>
            <div>
              <div class="form-check">
                <input class="form-check-input" id="completed" type="radio" name="Completed" th:field="*{status}" value="completed"/>
                <label class="form-check-label" for="completed">Completed</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="onGoing" type="radio" name="Completed" th:field="*{status}" value="onGoing"/>
                <label class="form-check-label" for="onGoing">OnGoing</label>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">
              submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



</body>
</html>